@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;

  --clr-grey-special: #eae6eb;
  --clr-black: #222;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --max-width: 1170px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./T_10-01.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--clr-grey-10);
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-grey-10);
  text-transform: capitalize;
}

img {
  width: 100%;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

/* Navbar */
.navbar {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
  padding-top: 1rem;
}

.navbar ul {
  display: flex;
  justify-content: center;
}

.navbar li {
  padding: 1rem 1.5rem;
}

.navbar a {
  color: #000;
  background: #fff;
  font-weight: 800;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  letter-spacing: 2px;
  transition: all 0.3s;
}
.navbar a:hover {
  color: #fff;
  background: rgb(59, 57, 57);
}
.section {
  width: 100vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.container {
  display: grid;
  grid-template-columns: 40% auto;
  margin: 3rem auto;
  max-width: var(--max-width);
  max-width: var(--fixed-width);
}

.container h1 {
  font-size: 2rem;
  margin: 0 5rem;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
  border: 2px solid var(--clr-grey-special);
  margin-bottom: 0.5rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.list-container li {
  cursor: pointer;
}
.list-container li:hover {
  color: rgb(140, 184, 53);
}

.check-container {
  display: flex;
  align-items: center;
}
.check-container p {
  padding-right: 0.5rem;
}
.fav-container {
  display: grid;
  grid-template-columns: 20rem;
  justify-content: center;
  align-items: center;
}
.fav-list {
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  background: var(--clr-white);
  border: 2px solid var(--clr-grey-special);
  margin-bottom: 1rem;
  border-radius: var(--radius);
  color: var(--clr-grey-1);
}

.fav-heading {
  text-align: center;
  margin: 2rem;
}
