@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(241, 245, 248);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./T_10-01.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(241, 245, 248);
  text-transform: capitalize;
}

img {
  max-width: 100%;
  display: block;
}

/* Button */
.btn {
  color: #000;
  background: #fff;
  border: 1px solid rgb(99, 98, 98);
  border-radius: 0.2rem;
  padding: 0.25rem 0.75rem;
  transition: all 0.3s;
  outline: none;
}

/* Navbar */
.navbar {
  margin: 0 auto;
  max-width: 64rem;
}

.navbar ul {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.navbar li {
  padding: 1rem 0.75rem;
}

.navbar a {
  color: #000;
  background: #fff;
  font-weight: 800;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}
.navbar a:hover {
  color: #fff;
  background: rgb(59, 57, 57);
}

.section {
  max-width: 64rem;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  margin-top: 3rem;
  grid-gap: 5rem;
}

.container h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border: 2px solid #eae6eb;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}
.list-container li {
  cursor: pointer;
}
.list-container li:hover {
  color: rgb(140, 184, 53);
}

.fav-container {
  display: grid;
  grid-template-columns: 20rem;
  justify-content: center;
  align-items: center;
}
.fav-heading {
  text-align: center;
  margin: 2rem;
}
.fav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  background: #fff;
  border: 2px solid #eae6eb;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  color: rgb(16, 42, 66);
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 1rem 4rem;
    grid-gap: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    padding: 1rem 2rem;
    grid-gap: 1rem;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 1rem 2rem;
    grid-gap: 0rem;
    margin-top: 2rem;
  }
}
