.planet-container {
  width: 50%;
}

.planet-container img {
  display: block;
  border: 2px solid #eae6eb;
  height: 300px;
  width: 300px;
  margin: auto;
}

.planet-info {
  border: 2px solid #eae6eb;
  padding: 10px;
}

.planet-info h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
