.planet-container {
  width: 70%;
  margin-left: auto;
}

.planet-container img {
  display: block;
  border: 2px solid #eae6eb;
  border-radius: 0.5rem;
  height: 300px;
  width: 300px;
  margin: auto;
}

.planet-info {
  border: 2px solid #eae6eb;
  border-radius: 1rem;
  padding: 10px;
}

.planet-info h2 {
  font-size: 2rem;
  text-align: center;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background: #eae6eb;
  margin: auto;
}
